*{
    margin: 1;
    padding: ;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;

}
body{
    background: white;
    color: black;
}

header{
    background: #333;
    color:black;
    padding: 20px;
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


.navbar li{
    margin-right: 20px;
}

.navbar-brand {
    color: blue;
}

.navbar-nav.nav-link {
    color: blue;
}

.navbar-toggler {
    background-color: blue;
}

footer {
    background-color: gray;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 14px;
}

@media (max-width: 768px) {
    footer {
        position: static;
    }
}

/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
    /* Stack the menu items vertically instead of horizontally */
    #navbarSupportedContent.navbar-nav.nav-link {
        display: block;
    }
}


